faiss-cpu
groq
langchain-groq
PyPDF2
langchain_google_genai
langchain
streamlit
langchain_community
python-dotenv
pypdf
google-cloud-aiplatform>=1.38
accelerate
bitsandbytes
chromadb
ctransformers
huggingface_hub
openai
PyPDF2
sentence_transformers
streamlit
streamlit-chat
tiktoken
torch
camelot-py
pandasai
pandasql
google-generativeai
plotly

langchain
PyPDF2
python-dotenv
streamlit
faiss-cpu
altair
tiktoken
huggingface-hub
InstructorEmbedding
sentence-transformers==2.2.2